<!DOCTYPE html>

<html class="h-full" data-kt-theme="true" data-kt-theme-mode="light" dir="ltr" lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta content="follow, index" name="robots" />
    <title>@ViewBag.Title</title>

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet"/>

    <vite-asset srcdev="Libs/UI/Assets/Vendors/keenicons/style.scss"
                srcpro="css/vendors/keenicons-dist.css"
                asp-append-version="true" />
    <vite-asset srcdev="Libs/UI/Assets/Styles/styles.css"
                srcpro="css/style-dist.css"
                asp-append-version="true" />

    @RenderSection("Styles", false)

</head>
<body class="text-foreground bg-background layout1 kt-sidebar-fixed kt-header-fixed flex h-full text-base antialiased">

  <!-- Theme Mode -->
  <script>
   const defaultThemeMode = 'light'; // light|dark|system
	let themeMode;
	if (document.documentElement) {
		if (localStorage.getItem('kt-theme')) {
			themeMode = localStorage.getItem('kt-theme');
		} else if (
			document.documentElement.hasAttribute('data-kt-theme-mode')
		) {
			themeMode =
				document.documentElement.getAttribute('data-kt-theme-mode');
		} else {
			themeMode = defaultThemeMode;
		}
		if (themeMode === 'system') {
			themeMode = window.matchMedia('(prefers-color-scheme: dark)').matches
				? 'dark'
				: 'light';
		}
		document.documentElement.classList.add(themeMode);
	}
  </script>
  <!-- End of Theme Mode -->

  <!-- Page -->
  <!-- Main -->
  <div class="flex grow">
   <!-- Sidebar -->
   @await Html.PartialAsync("Metronic/_Sidebar")
   <!-- End of Sidebar -->
   <!-- Wrapper -->
   <div class="kt-wrapper flex grow flex-col">
    <!-- Header -->
    <!-- End of Header -->
    @await Html.PartialAsync("Metronic/_Header")
    <!-- Content -->
    <main class="grow pt-5" id="content" role="content">
     <!-- Container -->
     <div class="kt-container-fixed" id="contentContainer">
        @RenderSection("Content", false)
     </div>
     <!-- End of Container -->
     <!-- Container -->
     <div class="kt-container-fixed">
         @RenderSection("Breadcrumb", false)
     </div>
     <!-- End of Container -->
     <!-- Container -->
     <div class="kt-container-fixed">
         @RenderBody()
     </div>
     <!-- End of Container -->
    </main>
    <!-- End of Content -->
    <!-- Footer -->
    @await Html.PartialAsync("Metronic/_Footer")
    <!-- End of Footer -->
   </div>
   <!-- End of Wrapper -->
  </div>
  <!-- End of Main -->

  @RenderSection("EndOfPage", false)

  <!-- End of Page -->

    <vite-asset srcdev="Libs/UI/Assets/Themes/metronic/core/index.ts"
            srcpro="js/themes/metronic/core-dist.js"
            asp-append-version="true" />
    <vite-asset srcdev="Libs/UI/Assets/Vendors/ktui/index.ts"
            srcpro="js/vendors/ktui-dist.js"
            asp-append-version="true" />
    <vite-asset srcdev="Libs/UI/Assets/Themes/metronic/app/widgets/general.js"
            srcpro="js/themes/metronic/widgets/general-dist.js"
            asp-append-version="true" />
    <vite-asset srcdev="Libs/UI/Assets/Themes/metronic/app/layouts/layout.js"
            srcpro="js/themes/metronic/layouts/layout-dist.js"
            asp-append-version="true" />

    @RenderSection("Scripts", false)

</body>

</html>
